* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.row__posters {
  display: flex;
  overflow-y: hidden;
  overflow-x: scroll;
  padding: 20px;
}

.row__posters::-webkit-scrollbar {
  display: none;
}
.row__poster {
  object-fit: contain;
  width: 100%;
  max-height: 100px;
  margin-right: 10px;
  transition: transform 0.4s;
}

.row__poster:hover {
  transform: scale(1.08);
}
